@model TotpTokenView
@{
    ViewData["Title"] = "SetupTotp";
}

<div class="card text-center col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    <div class="card-body">
        <h5 class="card-title">SetupTotp</h5>
        <form asp-action="SetupTotp">
            <div class="form-group">
                @if (Model?.Error != null)
                {
                    <div class="text-danger">@Model.Error</div>
                }
                <p><img src="@Model.TokenUri"></p>
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>