@{
    ViewData["Title"] = "Login";
}

<div class="card text-center col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    <div class="card-body">
        <h5 class="card-title">Success!</h5>
        <h1><i class="bi bi-check"></i></h1>
        <a asp-area="" asp-controller="Login" asp-action="SetupTotp">Setup Totp</a>
    </div>
</div>